certifi
cffi
chardet
click
colorama
cryptography
EasyProcess
Flask
idna
importlib-metadata
itsdangerous
Jinja2
mariadb
MarkupSafe
pybrowsers
pycparser
PyMySQL
python-dotenv
python-slugify
PyVirtualDisplay
requests
selenium
text-unidecode
urllib3
webdriver-manager
Werkzeug
zipp
